<nav class="nav" >
    <div>
      <a [routerLink]="['/videos']" class="brand-logo">HOME</a>
      <a href="#" data-activates="mobile-demo" materialize="sideNav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
         <li class="name"><h5>{{username}}</h5></li>
        <li ><a class="logout" (click)="onLogout()"><i class="material-icons right">input</i>Log out</a></li>
      </ul>
      <ul  class="side-nav" id="mobile-demo">
         <li class="name"><h5>{{username}}</h5></li>
        <li ><a class="logout" (click)="onLogout()" >Log out</a></li>
      </ul>
    </div>
</nav>
