$primary-color: #26A69A;
$secondary-color: #1E88E5;
//Header
.nav{
    color: $secondary-color;
    background: white;
    
}

.brand-logo{
    color: $secondary-color;
}

.logout{
    color: $secondary-color;
}

.name{
    margin-right: 40px;
    margin-left: 30px;
    margin-top: 5px;
    color: gray;
}


nav .button-collapse i{
    color: $secondary-color;
}