<div *ngIf="routehome" >
  <app-header></app-header><br>
  <div class="row" infiniteScroll
          [infiniteScrollDistance]="80"
          [infiniteScrollThrottle]="2000"
          (scrolled)="onScrollDown()">
    <div  *ngFor="let video of videos" >
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="title-card"><a [routerLink]="['/video-detail', video._id]" class="no-link">{{video.name}}</a></div>
          <div class="card-image">
            <video (click)="onVideo(this)" class="video-cont" controls poster="./assets/code.png" preload="none">
              <source src="http://localhost:3000/{{video.url}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div ></div>
          </div>
          <div class="card-content">
            <p ><i class="material-icons stars">{{video.rating}}</i></p>
            <p >{{video.description | textLimit: 2}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="progress" *ngIf="loading">
        <div class="indeterminate"></div>
    </div>
</div>
<div class="col s12 m4 l3">
  <div  *ngIf="!routehome" class="sideVideos z-depth-3" infiniteScroll
            [infiniteScrollDistance]="80"
            [infiniteScrollThrottle]="2000"
            [scrollWindow]="false"
            (scrolled)="onScrollDown()">
      <div   *ngFor="let video of videos" >
      <div class="col s12">
        <div class="card">
          <div class="title-card"><a [routerLink]="['/video-detail', video._id]" class="no-link">{{video.name}}</a></div>
          <div class="card-image">
            <video (click)="onVideo(this)" class="video-cont" controls poster="./assets/code.png" preload="none">
              <source src="http://localhost:3000/{{video.url}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div ></div>
          </div>
          <div class="card-content">
            <p ><i class="material-icons stars">{{video.rating}}</i></p>
            <p >{{video.description | textLimit: 2}}</p>      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>