$primary-color: #26A69A;
$secondary-color: #1E88E5;

.container{
    background: white;
    padding: 30px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.marg-left{
    margin-left: 3%;
    margin-right: 2%; 
}
.video-cont{
    width: 100%;
}

.detail-title{
    color: $secondary-color;

}

.stars{
    color: $secondary-color;
}

.select{
    color: $secondary-color;
}

